<div id="<%= dom_id swap_group %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= swap_group.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= swap_group.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created by:</strong>
    <%= swap_group.created_by_id %>
  </div>
</div>
